/******variables******/
/******GRID******/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* line 1, sass/base/_base.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* line 8, sass/base/_base.scss */
html {
  /****this defines what 1rem is****/
  font-size: 62.5%; }

/*     changed px to rem    */
/* line 14, sass/base/_base.scss */
body {
  box-sizing: border-box; }

/* line 1, sass/base/_typography.scss */
body {
  font-family: "Lato" , sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777777;
  padding: 3rem; }

/* line 10, sass/base/_typography.scss */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  /* line 16, sass/base/_typography.scss */
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  /* line 26, sass/base/_typography.scss */
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

/* line 2, sass/components/_button.scss */
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

/* line 14, sass/components/_button.scss */
.btn--white {
  background-color: #fff;
  color: #777777; }
  /* line 17, sass/components/_button.scss */
  .btn--white::after {
    background-color: #fff; }

/* line 22, sass/components/_button.scss */
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  /* line 26, sass/components/_button.scss */
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

/* line 31, sass/components/_button.scss */
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }

/* line 35, sass/components/_button.scss */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

/* line 50, sass/components/_button.scss */
.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

/* line 1, sass/layout/_header.scss */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  /* line 9, sass/layout/_header.scss */
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  /* line 15, sass/layout/_header.scss */
  .header__logo {
    height: 3.5rem; }
  /* line 19, sass/layout/_header.scss */
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/* line 1, sass/layout/_grid.scss */
.row {
  max-width: 114rem;
  background-color: #eeeeee;
  margin: 0 auto; }
  /* line 8, sass/layout/_grid.scss */
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  /* line 2, sass/abstracts/_mixins.scss */
  .row::after {
    content: "";
    display: table;
    clear: both; }
  /* line 14, sass/layout/_grid.scss */
  .row [class^="col-"] {
    background-color: orangered;
    float: left; }
    /* line 18, sass/layout/_grid.scss */
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  /* line 24, sass/layout/_grid.scss */
  .row .col-1-of-2 {
    width: calc((100% - 2rem) /2); }
  /* line 28, sass/layout/_grid.scss */
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  /* line 31, sass/layout/_grid.scss */
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  /* line 34, sass/layout/_grid.scss */
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  /* line 37, sass/layout/_grid.scss */
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  /* line 40, sass/layout/_grid.scss */
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }
