.section-about {
    background-color: $color-grey-light-1;
    padding:25rem 0;
    margin-top: -20vh;
}
.section-features {
    padding: 20rem 0;
    background-image:linear-gradient(to right bottom, rgba($color-primary-light, 0.8),rgba($color-primary-dark, 0.8)), url(../img/nat-4.jpg);
    background-size:cover;
    transform: skewY(-7deg);
    margin-top: -11.5rem; //sklanja cosak koji ostane nepopunjen

    & > * {
        transform: skewY(6deg);
    }

}
.section-tours {
    background-color: $color-grey-light-1;
<<<<<<< HEAD
    padding: 25rem 0 50rem 0;
=======
    padding: 25rem 0 15rem 0;
>>>>>>> 4835432 (finished flip cards)
    margin-top: -11rem;

}